
	  
	   <div class=<li role="presentation" class="dropdown">>
	    
	        <h4 class="text-center"><strong>Young People's Guid (YPG)</strong></h4>
	       
		<p><%= image_tag"logos/ypg.png", class: 'imag' %>The group was established on the 27th of August, 1977 with 12 members, 5 males and 7 
		females. It was inaugurated on 10th December, 1978 by the Accra West District Officers as the 138th branch. The founding members 
		included Mr John Kofi Asare, Mr Kofi Adi Ankamah <a href="#">Read more</a></p>
		 
	     </div>
	    
	<div class="col-xs-6 col-sm-3">

	    <h4 class="text-center"><strong>Bible Study and Prayer Group</strong></h4>

		<p><%= image_tag"logos/bspg.png", class: 'imag' %>The group was formed in 1975 after its introduction by Bro. Osafo from 
		Law Reporting (now with UNSW). It was inaugurated in May 1967 with an initial membership of about 20 people. The Bible teaches
		us that “Let your light shine up on the whole world so that   <a href="#">Read more</a> </p>
		
	</div>
	
		<div class="col-md-4">

	    <h4 class="text-center"><strong>Bible Study and Prayer Group</strong></h4>

		<p><%= image_tag"logos/bspg.png", class: 'imag' %>The group was formed in 1975 after its introduction by Bro. Osafo from 
		Law Reporting (now with UNSW). It was inaugurated in May 1967 with an initial membership of about 20 people. The Bible teaches
		us that “Let your light shine up on the whole world so that   <a href="#">Read more</a> </p>
		
	</div>
	
		<div class="col-md-4">

	    <h4 class="text-center"><strong>Bible Study and Prayer Group</strong></h4>

		<p><%= image_tag"logos/bspg.png", class: 'imag' %>The group was formed in 1975 after its introduction by Bro. Osafo from 
		Law Reporting (now with UNSW). It was inaugurated in May 1967 with an initial membership of about 20 people. The Bible teaches
		us that “Let your light shine up on the whole world so that   <a href="#">Read more</a> </p>
		
	</div>
	
		<div class="col-md-4">

	    <h4 class="text-center"><strong>Bible Study and Prayer Group</strong></h4>

		<p><%= image_tag"logos/bspg.png", class: 'imag' %>The group was formed in 1975 after its introduction by Bro. Osafo from 
		Law Reporting (now with UNSW). It was inaugurated in May 1967 with an initial membership of about 20 people. The Bible teaches
		us that “Let your light shine up on the whole world so that   <a href="#">Read more</a> </p>
		
	</div>
	
		<div class="col-md-4">

	    <h4 class="text-center"><strong>Bible Study and Prayer Group</strong></h4>

		<p><%= image_tag"logos/bspg.png", class: 'imag' %>The group was formed in 1975 after its introduction by Bro. Osafo from 
		Law Reporting (now with UNSW). It was inaugurated in May 1967 with an initial membership of about 20 people. The Bible teaches
		us that “Let your light shine up on the whole world so that   <a href="#">Read more</a> </p>
		
	</div>

  </div>

</div>  


<div class="container">
<div class="multiple">
    <div>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuelt</div>
    <div>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuel</div>
    <div>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuel</div>
	<div>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuel</div>
	<div>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuel</div>
	<div>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuel</div>
	<div>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuel</div>
  </div>
 </div>
 
</div>