<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "slider/img7.png" %>
      <div class="carousel-caption">
        <h3></h3>
      </div>
    </div>
    
    <div class="item">
      <%= image_tag "slider/img2.png" %>
      <div class="carousel-caption">
        <h1></h1>
      </div>
    </div>
    
    <div class="item">
      <%= image_tag "slider/img2.png" %>
      <div class="carousel-caption">
        <h3></h3>
      </div>
    </div>
    
</div>
</div>


</div>
 
<div class="container">
	
	<div class=jumbotron>
		<h2 class="text-center">BIBLE QUOTE</h2>
		<p>God writes the Gospel not in the Bible alone, but also on trees, and in the 
		flowers and clouds and stars.</p>
		<p>Martin Luther</p>
	</div>
	
 <div class="row">
  		<div>
  			<h3 class="text-center"><strong>OUR GALLERY</strong></h3>
  	 	</div>
  	
	<div class="col-xs-6 col-md-4">
    	<div class="thumbnail">
      		<%= image_tag "gallery/1.png" %>
   		</div>
	</div>
    
    <div class="col-xs-6 col-md-4">
    	<div class="thumbnail">
     		<%= image_tag "gallery/2.png" %>
      	</div>
  	</div>
    
    <div class="col-xs-6 col-md-4">
    	<div class="thumbnail">
      		<%= image_tag "gallery/3.png" %>
      	</div>
    </div>

	<div class="col-xs-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag "gallery/4.png" %>
		</div>
	</div>
	
	<div class="col-xs-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag "gallery/5.png" %>
		</div>
	</div>
	
		<div class="col-xs-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag "gallery/6.png" %>
		</div>
	</div>
</div>



<div class="row" id="bg">


	
	<div>
  		<h3 class="text-center"><strong>GROUPS</strong></h3>
  	</div>
	
	<div class="col-md-4">
	<h4 class="text-center"><strong>MEN'S FELLOWSHIP</strong></h4>
	
	<p><%= image_tag"logos/new.png", class: 'imag' %>We give to the good lord who inspired the faithful twelve who 
	gathered on the 20th September 1981 in the children’s service hall at the old site to begin the Emmanuel <a href="#">Read more</a> </p> 
	
	</div>
	  
	<div class="col-md-4">
	    
	    <h4 class="text-center"><strong>WOMEN'S FELLOWSHIP</strong></h4>
	    <p><%= image_tag "logos/women.png", class: 'imag' %>To God be the glory for great things He has done. Amen. The Dansoman
	    Emmanuel Congregation Women’s Fellowship was started on 18th May, 1975 with 18 members. It was the first group to be formed 
	    in the church ehich has been established about six months earlier on December <a href="#">Read more</a> </p>
	    
	    
  	</div>
	  
	<div class="col-md-4">
		
		<h4 class="text-center"><strong>YOUNG ADULT FELLOWSHIP</strong></h4>
	      

<p><%= image_tag"logos/yaf.png", class: 'imag' %>The 2005 General Assembly held in Kumasi at the Kwame Nkrumah University of 
Science and Technology(KNUST) decided that a new group should be formed in all the congregations of the Presbyterian Church of 
Ghana. People to belong to this new group were to be members of the church who were between the ages of 30-40 years. <a href="#">Read more</a></p>

	  </div>
	  
</div>




	<div class="row col-md-6" id="bg">
		<div class="col-md-6">
			<h4>About Our Church</h4>
			<p>TO BE A CHRIST-CENTRED, EVANGELISTIC, DISCIPLINED, DEMOCRATIC, UNITED,SELF-SUSTAINING AND GROWING CHURCH</p>
		</div>
	</div>
</div>